/* .container {
  border: black 2px solid;
  background-color: #8e9aaf;;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: yellow;
} */

.shoeCard {
  border: black 2px solid;
  background-color: #f5ebe0;
  border-radius: 10px;
  width: 20%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10px;
  padding: 24px;
  font-size: 24px; 
  background-color: #dee2ff;
}

.shoeCard div {
  display: flex;
  font-size: 20px; 
}

.shoeCard h1 {
  font-size: 24px;
  font-weight: 600;
}


.shoeText {
font-size: 24px;
color: black;
display: flex;
flex-direction: column;
padding: 50px;
}

.container button {
  background-color: black;
  color: white;
  font-size: 24px;

}

.buttonContainer {
  display: flex;
  justify-content: space-around;
}


/* CSS */
.button {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}