.container {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.form h1 {
  font-size: 24px;
}

.form label {
font-size: 24px;

}

.form input {
  font-size: 24px;
}

.form button {
  background-color: black;
  color: bisque;
  font-size: 24px;
}